[submodule "librdkafka"]
	path = librdkafka
	url = https://github.com/edenhill/librdkafka
[submodule "libyaml"]
	path = libyaml
	url = https://github.com/yaml/libyaml
[submodule "influxdb-cxx"]
	path = influxdb-cxx
	url = https://github.com/awegrzyn/influxdb-cxx.git
