[Unit]
Description=Libtrace-bigdata daemon
After=network.target
Documentation=https://github.com/jacobvw/libtrace-bigdata/wiki

[Service]
Type=simple
ExecStart=@bindir@bigdata -c @sysconfdir@bigdata/config.yaml
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
