Source: libtrace-bigdata
Maintainer: Jacob van Walraven <jacobvw@icloud.com>
Section: misc
Priority: optional
Standards-Version: 4.1.3
Build-Depends:
 debhelper (>= 10),
 libtrace4-dev, libflowmanager-dev, libprotoident-dev,
 libyaml-dev, libcurl4-openssl-dev, librdkafka-dev 

Package: libtrace-bigdata
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base
Description: Libtrace Bigdata packet processor
 Libtrace Bigdata is a real time packet analysis application.
